body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #670d36, #a5285c);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    background-color: #fff;
    width: 80%;
    max-width: 1200px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #1caf73;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    bottom: -8px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload-button {
    background-color: #1caf73;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #16a066;
}

.logo {
    height: 50px;
}

.preview {
    background-color: white;
    color: black;
    width: 80%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.add-button {
    background-color: #1caf73;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #16a066;
}

input[type="file"] {
    display: none;
}

/* Responsivo */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .info-section {
        padding: 1.5rem;
    }

    .login-section {
        padding: 1.5rem;
    }
}