<!-- templates/asignar_tutores.html -->
{% extends base_template %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Asignar Tutores</title>
    <link rel="stylesheet" href="{% static 'css/asignar_tutores.css' %}">
</head>
<body>
    <div class="container">
        <div class="scroll-box" id="tutores">
            <h3>Tutores</h3>
            <ul>
                {% for tutor in tutores %}
                    <li data-id="{{ tutor.ID_Estudiante }}" class="tutor" style="color: black;">{{ tutor.nombre }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="scroll-box" id="estudiantes">
            <h3>
                Alumnos
                <input type="checkbox" id="checkAllEstudiantes" />
            </h3>
            <div style="margin-top: 10px; display: flex; gap: 10px; align-items: center;">
                <input type="text" id="busqueda-estudiantes" placeholder="Buscar estudiante..." />
                <label><input type="checkbox" id="filtro-asignados" checked /> A</label>
                <label><input type="checkbox" id="filtro-desasignados" checked /> N</label>

            </div>
            <ul style="color: black;">
                {% for estudiante in estudiantes %}
                    <li data-id="{{ estudiante.ID_Estudiante }}" class="estudiante"
                        {% if estudiante.tutor %}style="opacity: 0.6; cursor: not-allowed;"{% else %}draggable="true"{% endif %}>
                        <input type="checkbox" class="select-estudiante" {% if estudiante.tutor %}disabled{% endif %} />
                        {{ estudiante.usuario }} {{ estudiante.nombre }}
                        {% if estudiante.tutor %}
                            <span style="font-size: 0.8em; color: #888;">(Asignado {{ estudiante.tutor.nombre }})</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>


        <div class="scroll-box" id="alumnos-por-tutor">
            <h3>Alumnos para <span id="nombre-tutor">selecciona un tutor</span>
                <input type="checkbox" id="checkAllAsignados" />
            </h3>
            <ul id="lista-alumnos-tutor" style="color: black;"></ul>
        </div>
    </div>

    <script>
        // Inserta el CSRF token de Django en una variable JS accesible globalmente
        window.csrfToken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'js/asignar_tutores.js' %}"></script>

</body>
</html>
{% endblock %}