{% extends base_template %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'login/ultimo_simulacro.css' %}">
<div class="contenedor-reportes">
    <h1 class="titulo-reportes">Evolución del Puesto y Puntaje</h1>
    <p class="mensaje-usuario">
        {% if ultimo_puntaje %}
            Hola {{ nombre_usuario }}, tu puntaje en el último simulacro fue <strong>{{ ultimo_puntaje }}</strong> puntos.
        {% else %}
            No se han registrado puntajes aún.
        {% endif %}
    </p>

    <div class="contenedor-graficos-reportes">
        <div class="grafico-reportes">
            <h3>Evolución del Puesto</h3>
            <img src="data:image/png;base64,{{ grafico_puesto }}" alt="Gráfico Puesto">
        </div>
        
        <div class="grafico-reportes">
            <h3>Evolución del Puntaje</h3>
            <img src="data:image/png;base64,{{ grafico_puntaje }}" alt="Gráfico Puntaje">
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reportes.css' %}">
{% endblock %}
