{% extends base_template %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login/ver_asistencias.css' %}">
<div class="contenedor-asistencias">
    <h2>Mis Asistencias</h2>
    <form method="get" class="filtro-form">
        <label for="fecha" style="color: #020000; margin-left: 9px;">Buscar por fecha:</label>
        <input type="date" name="fecha" id="fecha" value="{{ fecha_filtrada }}">
        <button type="submit">Filtrar</button>
        {% if fecha_filtrada %}
            <a href="{% url 'ver_asistencias' %}" style="margin-left:10px;">Limpiar filtro</a>
        {% endif %}
    </form>
    <div class="tabla-asistencias">
        <table>
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Nombre y Apellidos</th>
                    <th>Fecha</th>
                    <th>Fecha Corta</th>
                    <th>Nro</th>
                    <th>Marcación</th>
                    <th>Modalidad</th>
                    <th>Observación</th>
                </tr>
            </thead>
            <tbody>
                {% for a in asistencias %}
                    <tr>
                        <td style="color: black;">{{ a.usuario }}</td>
                        <td style="color: black;">{{ a.nombre }}</td>
                        <td style="color: black;">{{ a.fecha }}</td>
                        <td style="color: black;">{{ a.fecha_corta }}</td>
                        <td style="color: black;">
                            {% if a.numero_marca == 1 or a.numero_marca == 3 %}
                                ENTRADA
                            {% else %}
                                SALIDA
                            {% endif %}
                        </td>
                        <td style="color: black;">{{ a.hora }}</td>
                        <td style="color: black;">{{ a.modalidad }}</td>
                        <td style="color: black;">{{ a.observacion }}</td>
                    </tr>
                {% empty %}
                    <tr><td colspan="7">No tienes asistencias registradas.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p style="color: brown;">(*) El sistema controla la asistencia de alumnos presenciales (huella digital) y virtuales (que ingresaron a través del formulario)
Cualquier consulta puede llamar al 939824522</p>
</div>
{% endblock %}
