<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Robert Hooke</title>
    </head>
    <style>
        
    </style>
    <body>
        <nav style="background-color: aqua; height: 100%;">
            <a>
                <button>Opcion 1</button>
            </a>
            <a>
                <button>Opcion 2</button>
            </a>
            <a>
                <button>Opcion 3</button>
            </a>
            <a>
                <button>Opcion 4</button>
            </a>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>

